@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bangers&family=Montserrat+Alternates:wght@200&family=Montserrat:wght@100;200;300;400&family=Open+Sans:wght@300&family=Poppins:wght@200&family=Roboto+Mono:wght@200&family=Smooch+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font-family: 'Montserrat', sans-serif;
  font-family: 'Montserrat Alternates', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto Mono', monospace;   */
/*Fuentes Variables*/
/*Variables colores*/
header {
  display: flex;
  height: 200px;
  padding: 40x;
  font-family: Abril Fatface;
  font-size: 20px;
  justify-content: space-between;
}

.logo-img {
  height: 280px;
  width: 200px;
  padding-bottom: 90px;
  padding-left: 40px;
  padding-top: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

.navbar-nav a {
  padding-top: 120px;
  color: white;
}

.navbar-nav a:hover {
  color: springgreen;
}

.nav-item {
  padding-right: 20px;
}

/*Inicio Jumbotron*/
.containerinicio {
  background-image: url(multimedia/fondojumbotron.jpg);
  background-size: cover;
  background-repeat: none;
}

.jleft {
  height: 500px;
  width: 50%;
  background-color: #739260;
  opacity: 0.9;
  border-radius: 10px;
  text-align: center;
}

.jright {
  /* height: 500px; */
  width: 50%;
  background-color: lightgray;
  padding: 80px;
  border-radius: 10px;
}
.jright .jimg {
  border-radius: 10px;
  -o-object-fit: cover;
  object-fit: cover;
}

h1 {
  font-family: Abril Fatface;
  color: black;
  font-size: 35px;
  padding-top: 60px;
  padding-left: 10px;
}
h1 .jumbotron {
  background-image: url(multimedia/fondojumbotron.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

.p-principal {
  font-family: "Montserrat";
  color: black;
  font-size: 25px;
  text-align: center;
  padding: 30px;
}
.p-principal span {
  font-weight: bolder;
}

/*Fin Jumbotron*/
/* <!--Nosotras--> */
.historia {
  background-color: white;
  height: 100%;
  width: 100%;
  font-family: "Montserrat";
  padding-top: 20px;
  display: inline;
}
.historia h2 {
  font-family: "Abril Fatface";
  color: #739260;
  text-align: center;
  padding-top: 50px;
}
.historia .p-nosotras {
  font-family: "Montserrat";
  margin: 50px;
  text-align: center;
  font-size: 20px;
  padding-top: 10px;
  padding-left: 50px;
}
.historia .p-fri {
  padding-left: 50px;
  text-align: center;
  font-size: 20px;
}

.nosotras {
  padding: 20px 70px 40px 70px;
  justify-content: space-between;
  display: flex;
}

.fri {
  width: 600px;
  height: 600px;
  padding-bottom: 60px;
  padding-left: 100px;
  padding-right: 100px;
  border-radius: 10px;
  -o-object-fit: cover;
  object-fit: cover;
}

/* CARTAS */
main {
  background-color: #739260;
  opacity: 0.9;
  height: 400px;
}

.tituloMain {
  font-family: Abril Fatface, serif;
  text-transform: uppercase;
  padding-top: 60px;
}

.parrafoMain {
  font-family: "Montserrat";
  text-transform: uppercase;
  text-align: center;
  font-weight: bolder;
  padding-top: 30px;
  margin-left: 60px;
  margin-right: 60px;
  font-size: 20px;
}

.main, aside {
  height: 400px;
}

aside {
  background-image: url(multimedia/fricarta.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  -o-object-fit: cover;
  object-fit: cover;
}

ul {
  margin-left: 30px;
}

.cartaLogo {
  background-image: url(multimedia/cartalogo2.jpg);
  background-size: cover;
  background-position: center;
}

article {
  height: 400px;
  font-weight: normal;
}

.tituloCarta {
  font-family: Abril Fatface;
  padding-top: 60px;
  font-weight: normal;
}

.itemsCarta {
  font-family: "Montserrat";
  padding-top: 20px;
  font-size: 20px;
  justify-content: center;
}

.itemsCarta23 {
  line-height: 1.9;
}


/* tentate */
.tentate {
  background-color: #739260;
  height: 100%;
  width: 100%;
}

.contenedor {
  width: 100%;
  background-color: #739260;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(8, 180px);
  grid-template-areas: "img1 img2 img3 img3" "img1 img4 img5 img6" "img7 img4 img8 img8";
  padding: 70px;
  grid-gap: 15px;
}

.item {
  border: 1px solid white;
  border-radius: 7px;
  background-size: cover;
  background-position: center;
  transition: all 1s;
}

.item:hover {
  transform: scale(1.5);
}

.item1 {
  grid-area: img1;
  background-image: url(multimedia/relleno.jpg);
}

.item2 {
  grid-area: img2;
  background-image: url(multimedia/sorrentinos1.jpg);
}

.item3 {
  grid-area: img3;
  background-image: url(multimedia/mesa2.jpg);
}

.item4 {
  grid-area: img4;
  background-image: url(multimedia/sorrentinos.jpg);
}

.item5 {
  grid-area: img5;
  background-image: url(multimedia/raviolones.jpg);
}

.item6 {
  grid-area: img6;
  background-image: url(multimedia/mesa.jpg);
}

.item7 {
  grid-area: img7;
  background-image: url(multimedia/mesa1.jpg);
}

.item8 {
  grid-area: img8;
  background-image: url(multimedia/tartita.jpg);
}

.containervideo {
  background-color: black;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 100px;
  margin-bottom: 100px;
}

/* Contacto */
.contacto {
  font-family: "Montserrat";
  background-color: white;
  width: 100%;
  height: 100%;
  /* padding-top : 100px; */
  /* margin-bottom: 200px; */
}

h3 {
  font-family: "Montserrat";
  color: #739260;
  padding-top: 30px;
  text-align: center;
}

.itemContacto {
  height: 450px;
  border: 2px #739260;
}

.pContacto {
  font-family: "Montserrat";
  color: #739260;
  text-align: center;
  padding-top: 20px;
  line-height: 1.5;
}

.contactoFoto1 {
  background-image: url(multimedia/local.jpg);
  background-size: cover;
  background-position: center;
}

.contactoFoto2 {
  background-image: url(multimedia/local2.jpg);
  background-size: cover;
  background-position: center;
}

/*Footer*/
footer {
  padding: 20px;
}

footer .redes {
  padding-top: 10px;
}

footer .redes a {
  color: #739260;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 7px;
}

/* MEDIA QUERY */
@media only screen and (min-width: 1024px) {
  .contenedor {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 180px);
    grid-template-areas: "img1 img2 img3 img3" "img1 img4 img5 img6" "img7 img4 img8 img8";
  }
}
@media only screen and (max-width: 1023px) {
  .contenedor {
    grid-template-columns: 1fr; /* Una sola columna */
    grid-template-rows: repeat(8, 180px); /* O ajusta según sea necesario */
    grid-template-areas: "img1" "img2" "img3" "img4" "img5" "img6" "img7" "img8";
  }
}
@media only screen and (min-width: 769px) and (max-width: 1015px) {
  .contenedor {
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
    grid-template-rows: repeat(4, 180px); /* Cuatro filas */
    grid-template-areas: "img1 img2" "img3 img4" "img5 img6" "img7 img8";
  }
}
@media (max-width: 767px) {
  .jleft {
    text-align: center;
    height: 100%;
    width: 100%;
  }
  .jright {
    width: 100%;
  }
}/*# sourceMappingURL=estilos.css.map */